<script setup lang="ts"></script>
<template>
    <v-container>
        <v-row>
            <v-col cols="12" md="6" style="background-color:  blue;">
                <v-container style="padding: 0%;">
                    <v-row>
                        <v-col cols="12">
                            <v-sheet min-width="500" max-width="600" height="300" elevation="6"></v-sheet>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="80" elevation="6"></v-sheet>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="100" elevation="6"></v-sheet>
                        </v-col>

                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="80" elevation="6"></v-sheet>
                        </v-col>
                    </v-row>

                </v-container>
            </v-col>
            <v-col cols="12" md="6" style="background-color:  red;">
                <v-sheet min-width="300" max-width="600" height="650" elevation="6">
                </v-sheet>
            </v-col>
        </v-row>
    </v-container>
</template>